.App {
  text-align: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

/* 전환애니메이션은 
1. 애니메이션 동작 전 className 만들기
2. 애니메이션 동작 후 className 만들기
3. transition 추가  */

.main-bg {
  height: 400px;
  background-image: url("./book.webp");
  background-size: cover;
  background-position: center;
}
.img {
  transition: 0.5s ease-in;
}

.img:hover {
  cursor: pointer;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.titles:hover {
  cursor: pointer;
}
